.navbar {
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    /* padding: 10px; */
    box-shadow: 0 3px 6px 0 rgb(73, 35, 67);
    justify-content: space-between;
}

.movieicon {
    width: 30px;
    cursor: pointer;
    color: aqua;
}

.titledetails {
    display: flex;
    align-items: center;
}

.title {
    cursor: pointer;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
}

.search {
    border-radius: 5px;
    height: 30px;
    width: 300px;
}

.searchicon {
    cursor: pointer;
    color: white;
}

.searchbar {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    align-items: center;
    justify-content: right;
}